* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainv {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position-y: bottom;
  background-image: url(chapter7/mv.jpg);
  margin-bottom: 20px;
}

.header-text {
  padding: 20px 0 0 20px;
  color: grey;
}

.box {
  width: 840px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px grey solid;
}

.textcolor {
  color: grey;
}

footer {
  height: 50px;
}
